:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #acd9b2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    }
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink) ;
}
.menu {
    display: none;
}
.logo  {
    width: 100px;
}
.navbar-left{
    display: flex;
    margin-left: 12px;
    gap: 8px;
}
.navbar-left ul{
    margin-left: 12px;
}
.navbar-left ul, .navbar-rigth ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
    gap:12px;
}
.navbar-left ul li a, .navbar-rigth ul li a {
    text-decoration:none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    border-radius: 16px;
    font-size: var(--md);
    padding: 8px;
}
.navbar-left ul li a:hover, .navbar-rigth ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green)
}

.navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
}
.navbar-shopping-cart {
    position: relative;
}
.navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: 12px;
    font-weight: bolder;
    color: var(--white);
    text-align: center;
    position: absolute;
    top: -6px;
    right: -6px;
}
@media (max-width: 640px) {
    .menu{
        display: block;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-email{
        display: none;
    }
}
