:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #acd9b2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    }
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
}
.form-not-centered-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}
.title-second {
    font-size: var(--lg);
    margin-bottom: 52px;
    text-align: start;
}
.subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin: 0 0 32px 0;
    text-align: center;

}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form a {
    color: var(--hospital-green);
    font-size: var(--sm);
    text-decoration: none;
    text-align: center;
    justify-self: center;

}
.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;            
}
.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-family: "Quicksand";
    font-size: var(--md);
    padding: 4px;
    margin-bottom: 12px;
}
.input-email {
    margin-bottom: 22px;
}
.input-password {
    margin-bottom: 22px;
}
.input-name {
    margin-bottom: 22px;
} 

.value  {
    color: var(--very-light-pink);
    font-size: var(--md);
    text-align: start;
    justify-self: center;
    font-weight: 100;   
    margin-top: 0px;
    margin-bottom: 32px;  
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 12px;
    border: none;
    color: var(--white);
    height: 52px;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}

.secondary-button {
    background-color: var(--white);
    border-radius: 12px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    height: 52px;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    margin-top: 52px;
}

.login-button {
    margin-top: 14px;
    margin-bottom: 32px;
}

.email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.email-image img {
    width: 80px;
}

.resend {
    font-size: var(--sm);
}
.resend span {
color: var(--very-light-pink);
t
}
.resend a {
color: var(--hospital-green);
text-decoration: none;
}





@media (max-width: 640px) {
    .logo {
        display: block;
    }
    .secondary-button {
        position: absolute;
        bottom: 0;
        margin-bottom: 16px;
        width: 300px;
    }
    .signin-button {
        position: absolute;
        bottom: 0;
        margin-bottom: 16px;
        width: 300px;
    }

}

